# Project3 Part 2 - EDA

In [9]:
# Importing Relevent Liberies 
import os, time,json
import tmdbsimple as tmdb 
import pandas as pd
from tqdm.notebook import tqdm_notebook
FOLDER = "Data/Data"
os.makedirs(FOLDER, exist_ok=True)
os.listdir(FOLDER)

['tmdb_data_2001.csv.gz',
 'tmdb_api_results_2000.json',
 'tmdb_api_results_2001.json',
 'tmdb_data_2000.csv.gz',
 'final_tmdb_data_2001.csv.gz',
 '.ipynb_checkpoints',
 'Data']

In [12]:
# Loading 2000 data movies
df_2000  = pd.read_csv("Data/Data/tmdb_data_2000.csv.gz")

df_2000.head()

,imdb_id,adult,backdrop_path,belongs_to_collection,budget,genres,homepage,id,original_language,original_title,...,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count,certification
0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,tt0113026,0.0,/vMFs7nw6P0bIV1jDsQpxAieAVnH.jpg,NaN,10000000.0,"[{'id': 35, 'name': 'Comedy'}, {'id': 10402, '...",NaN,62127.0,en,The Fantasticks,...,0.0,86.0,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,Try to remember the first time magic happened,The Fantasticks,0.0,5.500,22.0,NaN
2,tt0113092,0.0,NaN,NaN,0.0,"[{'id': 878, 'name': 'Science Fiction'}]",NaN,110977.0,en,For the Cause,...,0.0,100.0,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,The ultimate showdown on a forbidden planet.,For the Cause,0.0,5.450,10.0,NaN
3,tt0116391,0.0,NaN,NaN,0.0,"[{'id': 18, 'name': 'Drama'}, {'id': 28, 'name...",NaN,442869.0,hi,Gang,...,0.0,152.0,"[{'english_name': 'Hindi', 'iso_639_1': 'hi', ...",Released,NaN,Gang,0.0,4.000,1.0,NaN
4,tt0118694,0.0,/n4GJFGzsc7NinI1VeGDXIcQjtU2.jpg,NaN,150000.0,"[{'id': 18, 'name': 'Drama'}, {'id': 10749, 'n...",NaN,843.0,cn,花樣年華,...,14204632.0,99.0,"[{'english_name': 'Cantonese', 'iso_639_1': 'c...",Released,"Feel the heat, keep the feeling burning, let t...",In the Mood for Love,0.0,8.101,2369.0,PG

In [14]:
# Loading 2001 data movies
df_2001  = pd.read_csv("Data/Data/tmdb_data_2001.csv.gz")

df_2001.head()

,imdb_id,adult,backdrop_path,belongs_to_collection,budget,genres,homepage,id,original_language,original_title,...,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count,certification
0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,tt0035423,0.0,/tJLV3BAlHOgscVOrA99Wnb2gAef.jpg,NaN,48000000.0,"[{'id': 10749, 'name': 'Romance'}, {'id': 14, ...",NaN,11232.0,en,Kate & Leopold,...,76019048.0,118.0,"[{'english_name': 'French', 'iso_639_1': 'fr',...",Released,"If they lived in the same century, they'd be p...",Kate & Leopold,0.0,6.300,1238.0,PG-13
2,tt0114447,0.0,NaN,NaN,0.0,"[{'id': 53, 'name': 'Thriller'}, {'id': 28, 'n...",NaN,151007.0,en,The Silent Force,...,0.0,90.0,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,They left him for dead... They should have fin...,The Silent Force,0.0,5.000,3.0,NaN
3,tt0116916,0.0,/rFpHBidSlhjflmnLu7BZilyKeQR.jpg,NaN,0.0,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...",NaN,73549.0,en,The Dark Mist,...,0.0,101.0,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,NaN,The Dark Mist,0.0,3.500,2.0,PG
4,tt0118589,0.0,/9NZAirJahVilTiDNCHLFcdkwkiy.jpg,NaN,22000000.0,"[{'id': 18, 'name': 'Drama'}, {'id': 10402, 'n...",NaN,10696.0,en,Glitter,...,5271666.0,104.0,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,"In music she found her dream, her love, herself.",Glitter,0.0,4.405,132.0,PG-13

In [20]:
frames =[df_2000, df_2001]
df_combine = pd.concat(frames)
df_combine.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2714 entries, 0 to 1356
Data columns (total 26 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   imdb_id                2714 non-null   object
 1   adult                  2712 non-null   float64
 2   backdrop_path          1498 non-null   object
 3   belongs_to_collection  194 non-null    object
 4   budget                 2712 non-null   float64
 5   genres                 2712 non-null   object
 6   homepage               216 non-null    object
 7   id                     2712 non-null   float64
 8   original_language      2712 non-null   object
 9   original_title         2712 non-null   object
 10  overview               2656 non-null   object
 11  popularity             2712 non-null   float64
 12  poster_path            2452 non-null   object
 13  production_companies   2712 non-null   object
 14  production_countries   2712 non-null   object
 15  release_date           2686 non-null   object
 16  revenue                2712 non-null   float64
 17  runtime                2712 non-null   float64
 18  spoken_languages       2712 non-null   object
 19  status                 2712 non-null   object
 20  tagline                1124 non-null   object
 21  title                  2712 non-null   object
 22  video                  2712 non-null   float64
 23  vote_average           2712 non-null   float64
 24  vote_count             2712 non-null   float64
 25  certification          842 non-null    object
dtypes: float64(9), object(17)
memory usage: 572.5+ KB

In [23]:
result = df_combine[['imdb_id','budget','revenue','certification']]
result.head()

     imdb_id      budget     revenue certification
0          0         NaN         NaN           NaN
1  tt0035423  48000000.0  76019048.0         PG-13
2  tt0114447         0.0         0.0           NaN
3  tt0116916         0.0         0.0            PG
4  tt0118589  22000000.0   5271666.0         PG-13

How many movies had at least some valid financial information (values > 0 for budget OR revenue)?

In [25]:
# Getting all Movies with Financial Information 
financial_result = result['budget']>0 or result['revenue']
financial_result.head()

ValueError: The truth value of a Series is ambiguous. Use a.empty, a.bool(), a.item(), a.any() or a.all().